.searchBox {
  position: relative;
  width: 31.2rem;

  &-input {
    width: 100%;
    border-radius: 42px;
    padding: 2.9rem 10rem 2.2rem 3.3rem; 
    font-size: 1.6rem;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-color: color(light, 300);
    opacity: 0.8;
    border: none;
    font-family: "Inter";

    &:focus {
      opacity: 0.9;
    }
  }

  &-button {
    position: absolute;
    right: 0.5rem; 
    top: 0.5rem;
    bottom: 0.5rem;
    border: 0;
    background: color(danger, 300);
    color: #fff;
    outline: none;
    margin: 0;
    padding: 2rem 2.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 100px;
    z-index: 2;
    text-transform: capitalize;
  }
}