$colors: (
  primary: (
    500: rgb(216, 171, 38)
  ),
  secondary: (
    300: #1E1E1E,
  ),
  danger: (
    100: #FF1F1F,
    300: #BF0000,
  ),
  light: (
    100: #fff,
    200: #F9F2DB,
    300: #F4F3ED,
  ),
);